/* *->universel Selector */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}
#head1{
    background-color: purple;
    color: white;
    font-size: 25px;
    font-weight: 900;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    letter-spacing: 10px;
    /* line-height: 105px; */
    /* padding: 15px 20px 10px 30px;
    margin: 15px 20px 10px 30px; */
    width: 50vw;
    height: 80vh;
    border: 10px dashed red;
    border-radius: 50px 10px 100px 200px;
    /* text-decoration: line-through; */
    text-transform: uppercase;
    word-spacing: 20px;

}
#head2{
    background-color: blue;
}
.head1{
    /* background-color: black;
    color: white; */
}

.box{
    background-color: red ;
    height: 100px;
    width: 200px;
    margin: 50px;
    /* padding: 50px; */
    /* background: linear-gradient(#d9d2e9,rgba(0, 0, 0, 0)),url(./Image.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow-x: hidden; */
    opacity: 0.5;
    /* visibility: hidden; */
    /* display: none; */
    /* margin-left: 1000px; */
    float: right;

}
/* .image{
    width: 100%;
    height: 100%;
} */

.nav{
    background-color: red;
    height: 8vh;
    width: 100%;
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
    margin-top: 100px;
}
p{
    margin-top: 70px;
}
.box1{
    background-color: palevioletred;
    width: 200px;
    height: 200px;
    /* position: relative; */
}
.box2{
    background-color: aqua;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 20px;
    left: 20px;
}