/* positions
static
fixed
sticky 
relative
absolute*/
.nav{
    background-color: rgb(0, 224, 213);
    width: 100%;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: space-evenly; /*X axis*/
    /* gap: 50px; */
    align-items: center; /*Y axis*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
a{
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    font-weight: 800;
}
/* .box1{
    position: sticky;
    top: 9vh;
    background-color: rebeccapurple !important;
    color: white;

} */
/* .box{
    background-color: steelblue;
    color: white;
    width: 290px;
    height: 300px;
    position: relative;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
}

.box>p{
    position: absolute;
    left: 8px;
}
.box1{ */
    /* flex-shrink: 0; */
    /* flex-grow: 2; */
    /* flex-basis: 500px;
} */


.container{
    background-color: red;
    width: 200px;
    height: 200px;
    transition: 4s ease;
    animation: bgchange 4s ease infinite;
}
/* .container:hover{
    background-color: blue; */
    /* transform: translateX(20px); */
    /* transform: rotate(25deg); */
    /* transform: scale(1.2);
    transition: 4s ease;
} */

@keyframes bgchange {
    0%{
        background-color: black;
    }
   
    50%{
        background-color: aqua;
    }
   
    100%{
        background-color: yellow;
    }
}

@media screen and (max-width:520px) {
    .container{
        width: 400px;
        background-color: black;
    }
}