.container{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.newPara{
    background-color: aquamarine;
    width: 200px;
}
.firstBox{
    /* flex-shrink: 0; */
    /* flex-grow: 2; */
    /* flex-basis: 400px; */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}