.container{
    /* display: grid;
    gap: 10px; */
    /* grid-template-columns: 300px 300px 300px; */
    /* grid-template-columns: repeat(3,300px); */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(3,minmax(150px,1fr)); */
    /* grid-template-columns: repeat(auto-fill,minmax(150px,1fr)); */
    /* grid-template-rows: 300px 300px; */
    /* grid-template-rows: repeat(2,300px); */
    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    height: 100vh; */
}
.box{
    /* background-color: palevioletred; */
}
.fixedBox{
    /* background-color: black;
    color: white;
    grid-row: span 2; */
    /* grid-row: 1/3; */
    /* grid-column: 1/3; */
    /* grid-column: span 2; */
}

.mainContainer{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "b1 b2 b2 b3 b4 b5"
    "b6 b6 b7 b3 b4 b5"
    "b8 b9 b7 b3 b4 b5";
    gap: 5px;
}
.box1{
    grid-area: b1;
    background-color: aqua;
}
.box2{
    grid-area: b2;
    background-color: aqua;
}
.box3{
    grid-area: b3;
    background-color: palevioletred;
}
.box4{
    grid-area: b4;
    background-color: palevioletred;

}
.box5{
    grid-area: b5;
    background-color: palevioletred;
}
.box6{
    grid-area: b6;
    background-color: aqua;
}
.box7{
    grid-area: b7;
    background-color: aqua;
}
.box8{
    grid-area: b8;
    background-color: aqua;
}
.box9{
    grid-area: b9;
    background-color: aqua;
}
