<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Student</title>
</head>
<body>
    <h2>Student List</h2>
    <a href="/add">Add New Student</a>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>name</th>
            <th>email</th>
            <th>age</th>
            <th>Action</th>
        </thead>
        <tbody>
            {%for s in student%}
            <tr>
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.email}}</td>
                <td>{{s.age}}</td>
                <td>
                    <a href="/edit/{{s.id}}">Edit</a>
                    <a href="/delete/{{s.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>