*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    /* gap: 5px; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start;
    justify-content: flex-end; */
    flex-direction: row-reverse;
    justify-content: space-between;
}
.boxConatiner{
    background-color: aqua;
    width: 300px;
}
#box1{
    /* flex-basis: 500px; */
    /* flex-shrink: 0; */
    /* flex-grow: 2; */
}